* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #121212;
  --heading: #f8f8f8;
  --info: #bbbbbb;
  --white: #ffffff;
  --gray-300: #a8a8b3;
  --body: #d7d7d7;
  --pink: #fd135a;
  --highlight: #ff57b2;
  --gradient-pink: linear-gradient(270.06deg, #6518b4 0%, #d24074 101.62%);
  --gradient-purple: linear-gradient(270.06deg, #10d7e2 0%, #9358f7 101.62%);
  --dark-200: #151515;
  --gray-light: #c4c4c4;
  --light: #ffffff;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--body);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
