.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 4rem;
  
  }
  .container {
    width: 50%;
    margin-bottom: 2rem;

  h1 {
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  h3{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
  

  }
  